bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

**/.DS_Store
.DS_Store

.idea/

**/*.db
**/*.db-*
theme/asp_studio_v2
theme/sf_theme
tools/OpenStore.Omnichannel.Tools/content/
!tools/OpenStore.Omnichannel.Tools/*.db
