@inject IStringLocalizer<AppHeaderBar> L

<div id="header" class="app-header">
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>

    <div class="brand">
        <div class="desktop-toggler">
            <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>

        <a href="#" class="brand-logo">
            OpenStore
            @* <img src="/assets/img/logo.png" alt="" height="20"/> *@
        </a>
    </div>

    <div class="menu justify-content-end">
        @* <form class="menu-search" method="POST" name="header_search_form"> *@
        @*     <div class="menu-search-icon"> *@
        @*         <i class="fa fa-search"></i> *@
        @*     </div> *@
        @*     <div class="menu-search-input"> *@
        @*         <input type="text" class="form-control" placeholder="Search menu..."/> *@
        @*     </div> *@
        @* </form> *@
        <div class="menu-item dropdown">
            <a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
                <div class="menu-icon">
                    <i class="fa fa-bell nav-icon"></i>
                </div>
                <div class="menu-label">3</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-notification">
                <h6 class="dropdown-header text-gray-900 mb-1">Notifications</h6>
                <a href="#" data-bs-toggle="dropdown" class="dropdown-notification-item">
                    <div class="dropdown-notification-icon">
                        <i class="fa fa-receipt fa-lg fa-fw text-success"></i>
                    </div>
                    <div class="dropdown-notification-info">
                        <div class="title">Your store has a new order for 2 items totaling $1,299.00</div>
                        <div class="time">just now</div>
                    </div>
                    <div class="dropdown-notification-arrow">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
                <a href="#" class="dropdown-notification-item">
                    <div class="dropdown-notification-icon">
                        <i class="far fa-user-circle fa-lg fa-fw text-muted"></i>
                    </div>
                    <div class="dropdown-notification-info">
                        <div class="title">3 new customer account is created</div>
                        <div class="time">2 minutes ago</div>
                    </div>
                    <div class="dropdown-notification-arrow">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>

                <div class="p-2 text-center mb-n1">
                    <a href="#" class="text-gray-800 text-decoration-none">See all</a>
                </div>
            </div>
        </div>
        <div class="menu-item dropdown">
            <div class="menu-item dropdown">
                <a href="#" data-bs-toggle="dropdown" data-display="static" class="menu-link">

                    <AuthorizeView>
                        <Authorized>
                            <div class="menu-img online">
                                <img src="assets/img/avatar-placeholder.png" alt="avatar-placeholder" class="ms-100 mh-100 rounded-circle"/>
                            </div>
                            <div class="menu-text">@context.User.Identity.Name</div>
                        </Authorized>
                    </AuthorizeView>

                </a>
                <div class="dropdown-menu dropdown-menu-right me-lg-3">
                    <NavLink class="dropdown-item d-flex align-items-center" href="settings">
                        @L["NavBar.Settings"]
                        <i class="fa fa-wrench fa-fw ms-auto text-gray-400 f-s-16"></i>
                    </NavLink>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item d-flex align-items-center" @onclick="BeginSignOut">Çıkış <i class="fa fa-toggle-off fa-fw ms-auto text-gray-400 f-s-16"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
     

    private void BeginSignOut()
    {
         Navigation.NavigateToLogout("authentication/logout");
    }
}