@inherits LayoutComponentBase
@layout AppLayout

<div id="content" class="app-content">
    @Body
    <a href="#" data-click="scroll-top" class="btn-scroll-top fade">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>