@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<nav class="navbar navbar-dark navbar-expand p-0 bg-primary">
    <div class="container d-flex justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <form id="selectLanguageForm" action="/set-language?returnUrl=@returnUrl" method="POST" class="form-horizontal" role="form">
                    
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"> @CultureInfo.CurrentUICulture.DisplayName </a>
                    <ul class="dropdown-menu dropdown-menu-right" style="max-width: 100px;">

                        @foreach (var item in  LocOptions.Value.SupportedUICultures.Where(x => !Equals(x, CultureInfo.CurrentUICulture)))
                        {
                            <li>
                                <a class="dropdown-item" href="#" onclick="sendSelectLanguageFormData('@item.Name') ;">@item.DisplayName</a>
                            </li>
                        }

                    </ul>
                </form>
                
                <script type="text/javascript">
                    async function sendSelectLanguageFormData(language){
                        const form = document.getElementById('selectLanguageForm');
                        const FD = new FormData(form);
                        console.log(form); 
                        FD.set('culture', language); 
                        let response = await fetch('/set-language?returnUrl=@returnUrl', {
                          method: 'POST',
                          body: FD
                        });                         
                        if (response.redirected) {
                            window.location.href = response.url;
                        }
                    }
                </script>
            </li>
        </ul>
    </div>
</nav>