@model OpenStore.Omnichannel.Identity.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = L["Account.Manage.ChangePassword"];
}

<div class="pt-32pt pt-sm-64pt pb-32pt">
    <div class="container page__container">
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
            <partial name="AccountValidationSummary"/>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control"/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> @L["Account.Manage.ChangePasswordButton"] </button>
            </div>
        </form>
    </div>
</div>