
@* todo: coupon implementation *@
@* <div class="card"> *@
@*     <div class="card-body"> *@
@*         <form> *@
@*             <div class="form-group"> *@
@*                 <label>Have coupon?</label> *@
@*                 <div class="input-group"> *@
@*                     <input type="text" class="form-control" name="" placeholder="Coupon code"> *@
@*                     <span class="input-group-append"> *@
@*                         <button class="btn btn-primary">Apply</button> *@
@*                     </span> *@
@*                 </div> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@