<a asp-controller="Checkout" asp-action="ShoppingCart" class="icon icon-sm rounded-circle border">
    <i class="fa fa-shopping-cart"></i>
</a>
<span class="badge badge-pill badge-danger notify">0</span>