<!DOCTYPE HTML>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    @await RenderSectionAsync("PageHead", required: false)
    <partial name="_PageHeadElement"/>
    <partial name="_ThemeStyles"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
@await Component.InvokeAsync("Header")
@RenderBody()
@await Component.InvokeAsync("Footer")
<partial name="_ThemeScripts"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>