@page "/products/add"
@page "/products/{Id:guid}"
@inject IStringLocalizer<Detail> L

<Container>
    <Row class="justify-content-center">
        <Column ColumnSize="ColumnSize.Is8.OnDesktop">
            <div class="d-flex align-items-center mb-4">
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <NavLink href="products">Products</NavLink>
                        </li>
                        <li class="breadcrumb-item active">Add New</li>
                    </ul>
                    <h1 class="page-header mb-0">
                        Product Name

                        <Badge Color="Color.Warning">
                            Draft
                        </Badge>
                    </h1>
                </div>

                <div class="ms-auto">
                    <Button Clicked="Save" class="btn btn-success">
                        <i class="fa fa-save fa-fw me-1"></i> Save
                    </Button>
                </div>
            </div>

            <Row>
                <Column ColumnSize="ColumnSize.Is8.OnDesktop">
                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <Field Margin="Margin.Is3.FromBottom">
                                <FieldLabel>Title</FieldLabel>
                                <FieldBody>
                                    <TextEdit>
                                    </TextEdit>
                                </FieldBody>
                            </Field>

                            <RichTextEdit
                                Theme="RichTextEditTheme.Snow"
                                PlaceHolder="Type your post here..."
                                SubmitOnEnter="false"
                                ToolbarPosition="Placement.Top">
                                <Toolbar>
                                    <RichTextEditToolbarGroup>
                                        <RichTextEditToolbarButton Action="RichTextEditAction.Bold"/>
                                        <RichTextEditToolbarButton Action="RichTextEditAction.Italic"/>
                                        <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                            <RichTextEditToolbarSelectItem Value="small"/>
                                            <RichTextEditToolbarSelectItem Selected="true"/>
                                            <RichTextEditToolbarSelectItem Value="large"/>
                                            <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                        </RichTextEditToolbarSelect>
                                        <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered"/>
                                        <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet"/>
                                    </RichTextEditToolbarGroup>
                                    <!-- Custom toolbar content -->
                                    <RichTextEditToolbarGroup Float="Float.Right">
                                       
                                        <Button Clicked="@(o => { })">
                                            <Icon Name="IconName.Save"/>
                                        </Button>
                                    </RichTextEditToolbarGroup>
                                </Toolbar>
                                <Editor>My example content</Editor>

                            </RichTextEdit>
                        </CardBody>
                    </Card>

                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <h5>
                                Media
                            </h5>
                            Media
                        </CardBody>
                    </Card>

                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <h5>
                                Pricing
                            </h5>
                            Pricing
                        </CardBody>
                    </Card>

                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <h5>
                                Inventory
                            </h5>
                            Inventory
                        </CardBody>
                    </Card>

                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <h5>
                                Shipping
                            </h5>
                            Shipping
                        </CardBody>
                    </Card>

                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <h5>
                                Variants
                            </h5>
                            Variants
                        </CardBody>
                    </Card>

                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <h5>
                                Seo
                            </h5>
                            Seo
                        </CardBody>
                    </Card>
                </Column>

                <Column ColumnSize="ColumnSize.Is4.OnDesktop">

                    <Card Margin="Margin.Is3.FromBottom">
                        <CardBody>
                            <h5>
                                Status
                            </h5>

                        </CardBody>
                        <hr>
                        <CardBody>
                            <h5>
                                Channels
                            </h5>
                            Channels
                        </CardBody>
                    </Card>

                    <ListGroup Margin="Margin.Is3.FromBottom">
                        <ListGroupItem>
                            <h5>
                                collections
                            </h5>
                            collections
                        </ListGroupItem>
                        <ListGroupItem>
                            <h5>
                                tags
                            </h5>
                            tags
                        </ListGroupItem>
                    </ListGroup>


                </Column>
            </Row>
            <hr class="mb-4">
            <Row>

            </Row>
        </Column>
    </Row>
</Container>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private bool IsEdit => Id != default;

    private Task Save()
    {
        // Save master (content, inventory, pricing, shipping, variants, status, seo, save, mediaMeta)
        // redirect to edit
        return Task.CompletedTask;
    }
    
    private Task UploadImage()
    {
        // Save image and get id
        // add image id to array
        
        return Task.CompletedTask;
    }

}