@using OpenStore.Omnichannel.Shared.Dto.Product
<Card Margin="Margin.Is3.FromBottom">
    <CardBody>
        <h5>
            @HeaderTitle
        </h5>
        Inventory
    </CardBody>
</Card>

@code {
    [Parameter]
    public ProductVariantDto Model { get; set; }
    
    [Parameter]
    public string HeaderTitle { get; set; }
}