@using OpenStore.Omnichannel.Shared.Dto.Product
@inject IStringLocalizer<TagsEditor> L


<ListGroupItem>
    <h5>
        @L["Title"]
    </h5>
    <OsChipsInput Chips="@_tags" OnChipsChanged="ChipsChanged" />
</ListGroupItem>

@code {

    [Parameter]
    public ProductDto Model { get; set; }
    
    private HashSet<string> _tags = new();

    protected override void OnInitialized()
    {
        _tags = Model.Tags?.Split(',').ToHashSet() ?? new HashSet<string>();
    }

    private void ChipsChanged(HashSet<string> chips)
    {
        Model.Tags = string.Join(',', chips);
    }

}