@using OpenStore.Omnichannel.Shared.Dto.Product
@inject IStringLocalizer<VariantsEditor> L


<Card Margin="Margin.Is3.FromBottom">
    <CardBody>
        <h5>
            @HeaderTitle
        </h5>
        
        @if (!Model.IsEdit)
        {
            <Field>
                <FieldBody>
                    <Check TValue="bool" @bind-Checked="@Model.HasMultipleVariants">@L["HasMultipleVariants"]</Check>
                </FieldBody>
            </Field>
        }
        
        <Divider/>

        @if (Model.HasMultipleVariants)
        {
            <div>

            </div>
        }

    </CardBody>
</Card>

@code {

    [Parameter]
    public ProductDto Model { get; set; }

    [Parameter]
    public string HeaderTitle { get; set; }

}