@model SearchBoxViewModel

<form asp-route="Search" method="get" class="search" autocomplete="off">
    <div class="input-group w-100">
        <input asp-for="Term" class="form-control" placeholder="@L["SearchBox.Placeholder"]">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>