@inject IStringLocalizer<Create> L

<ListGroup Margin="Margin.Is3.FromBottom">
    <ListGroupItem>
        <h5>
            @L["Notes"]
        </h5>
    </ListGroupItem>
</ListGroup>

@code {

    [CascadingParameter]
    public OrderViewModelBase ViewModel { get; set; }

}