@model ProductItemViewModel

<div class="col-md-3">
    <figure class="card card-product-grid">
        <div class="img-wrap">
            <img src="~/storefront/images/items/3.jpg" alt="">
            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
        </div>  
        <figcaption class="info-wrap">
            <div class="fix-height">
                <a href="#" class="title">Product name goes here just for demo item</a>
                <div class="price-wrap mt-2">
                    <span class="price">$1280</span>
                </div>  
            </div>
            <a href="#" class="btn btn-block btn-primary">Add to cart </a>
        </figcaption>
    </figure>
</div>  