<script id="product-box-tmpl" type="text/x-jsrender">
<div class="col-md-3">
    <a href="product/{{:handle}}" target="_blank">
      <figure class="card card-product-grid">
          <div class="img-wrap">
              <img src="{{:photoUrl}}" alt="{{:handle}}">
          </div>  
          <figcaption class="info-wrap">
              <div class="fix-height">
                  <a href="product/{{:handle}}" class="title">{{:title}}</a>
                  <div class="price-wrap mt-2">
                      <span class="price">{{:price}}</span>
                      <del class="compare-at-price">{{:compareAtPrice}}</del>
                  </div>  
              </div>
              <a href="product/{{:handle}}" class="btn btn-block btn-primary">@L["ProductList.Button.AddToCart"]</a>
          </figcaption>
      </figure>
    </a>
</div>  
</script>
