@{
    ViewData["Title"] = L["ProductList.Title"];
}

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        @* <span class="mr-md-auto">32 Items found </span> *@
                        <select class="mr-2 form-control">
                            <option>Latest items</option>
                            <option>Trending</option>
                            <option>Most Popular</option>
                            <option>Cheapest</option>
                        </select>
                    </div>
                </header>
                <div class="row" id="products-container">
                </div>
                <div id="products-loading">
                    <partial name="_LoadingIndicator"/>
                </div>
            </main>
        </div>
    </div>
</section>
<partial name="_ProductBoxTemplate"/>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"
            asp-fallback-src="~/storefront/js/jsrender.min.js"></script>
    <environment include="Development">
        <script src="~/storefront/js/jquery.infiniteScrollWithTemplate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/storefront/js/jquery.infiniteScrollWithTemplate.min.js"></script>
    </environment>
    <script src="~/Views/Catalog/AllProducts.cshtml.js"></script>
}