<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        @* <span class="mr-md-auto">32 Items found </span> *@
                        <select class="mr-2 form-control">
                            <option>Latest items</option>
                            <option>Trending</option>
                            <option>Most Popular</option>
                            <option>Cheapest</option>
                        </select>
                    </div>
                </header>
                <div class="row" id="products-container">
                </div>
                <div class="row align-content-center text-center" id="products-loading">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>

<script id="product-box-tmpl" type="text/x-jsrender">
<div class="col-md-3">
      <figure class="card card-product-grid">
          <div class="img-wrap">
              <img src="{{:photoUrl}}" alt="">
              <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
          </div>  
          <figcaption class="info-wrap">
              <div class="fix-height">
                  <a href="#" class="title">{{:title}}</a>
                  <div class="price-wrap mt-2">
                      <span class="price">$1280</span>
                  </div>  
              </div>
              <a href="#" class="btn btn-block btn-primary">Add to cart</a>
          </figcaption>
      </figure>
</div>  
</script>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"></script>
    <environment include="Development">
        <script src="~/storefront/js/jquery.infiniteScrollWithTemplate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/storefront/js/jquery.infiniteScrollWithTemplate.min.js"></script>
    </environment>
    <script src="~/Views/Catalog/AllProducts.cshtml.js"></script>
}