@{
    ViewData["Title"] = "Parola Sıfırlama";
}

<div class="pt-32pt pt-sm-64pt pb-32pt">
    <div class="container page__container">
        <h2>Parola Sıfırlama</h2>
        <p>
            Parola sıfırlama bağlantısını e-posta adresinize gönderdik. Lütfen gelen kutunuzu kontrol ediniz.
        </p>
    </div>
</div>