@{
    ViewData["Title"] = "Parola Sıfırlama";
}

<div class="pt-32pt pt-sm-64pt pb-32pt">
    <div class="container page__container">
        <p>
            Parolanızı yeniledik. <a asp-controller="Account" asp-action="Login">Buradan tekrar giriş yapabilirsiniz</a>.
        </p>
    </div>
</div>